body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u4022 {
  position:absolute;
  left:251px;
  top:-231px;
  width:473px;
  height:954px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u4023 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:420px;
}
#u4024 {
  position:absolute;
  left:111px;
  top:36px;
  width:747px;
  height:420px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:202px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026 {
  position:absolute;
  left:802px;
  top:38px;
  width:49px;
  height:53px;
}
#u4026_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:55px;
  height:59px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:58px;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
  color:#FFFFFF;
}
#u4029 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u4030 {
  position:absolute;
  left:0px;
  top:53px;
  width:60px;
  height:160px;
  visibility:hidden;
}
#u4030_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:66px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:165px;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4033 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4034 {
  position:absolute;
  left:0px;
  top:40px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4035 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4036 {
  position:absolute;
  left:0px;
  top:80px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4037 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4039 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
