<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="root_path" value="D:\qiqigame-master\qiqigame\app_code\bin-release\web\181107110552\resource"/>
    <add key="res_file" value="default.res"/>
    <add key="thm_file" value="default.thm"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>