body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3996 {
  position:absolute;
  left:251px;
  top:-231px;
  width:473px;
  height:954px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3997 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:420px;
}
#u3998 {
  position:absolute;
  left:111px;
  top:36px;
  width:747px;
  height:420px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:202px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000 {
  position:absolute;
  left:802px;
  top:38px;
  width:49px;
  height:53px;
}
#u4000_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:55px;
  height:59px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:58px;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
  color:#FFFFFF;
}
#u4003 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u4004 {
  position:absolute;
  left:0px;
  top:53px;
  width:60px;
  height:160px;
  visibility:hidden;
}
#u4004_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:66px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:165px;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4007 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:40px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4009 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:80px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4011 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:40px;
  color:#000000;
}
#u4013 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:222px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4014 {
  position:absolute;
  left:307px;
  top:139px;
  width:378px;
  height:222px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:103px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4016 {
  position:absolute;
  left:654px;
  top:131px;
  width:36px;
  height:36px;
}
#u4017 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4018 {
  position:absolute;
  left:329px;
  top:148px;
  width:156px;
  height:36px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  position:absolute;
  left:495px;
  top:148px;
  width:164px;
  height:36px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
