body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u112 {
  position:absolute;
  left:10px;
  top:11px;
}
#u112_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u112_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u113 {
  position:absolute;
  left:241px;
  top:-241px;
  width:473px;
  height:954px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u114 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:421px;
}
#u115 {
  position:absolute;
  left:104px;
  top:26px;
  width:742px;
  height:421px;
}
#u116 {
  position:absolute;
  left:2px;
  top:202px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:20px;
}
#u117 {
  position:absolute;
  left:220px;
  top:84px;
  width:511px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:50px;
}
#u119 {
  position:absolute;
  left:104px;
  top:26px;
  width:742px;
  height:50px;
}
#u120 {
  position:absolute;
  left:2px;
  top:17px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:56px;
}
#u121 {
  position:absolute;
  left:104px;
  top:26px;
  width:146px;
  height:56px;
}
#u122 {
  position:absolute;
  left:2px;
  top:20px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:70px;
}
#u123 {
  position:absolute;
  left:137px;
  top:381px;
  width:709px;
  height:70px;
}
#u124 {
  position:absolute;
  left:2px;
  top:27px;
  width:705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u125 {
  position:absolute;
  left:275px;
  top:405px;
  width:110px;
  height:36px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u127 {
  position:absolute;
  left:402px;
  top:405px;
  width:79px;
  height:36px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u129 {
  position:absolute;
  left:495px;
  top:405px;
  width:76px;
  height:36px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u131 {
  position:absolute;
  left:110px;
  top:32px;
  width:42px;
  height:42px;
}
#u132 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:162px;
  top:38px;
  width:73px;
  height:21px;
  font-family:'方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:163px;
  top:59px;
  width:77px;
  height:9px;
  font-family:'方正兰亭黑简体';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:52px;
}
#u137 {
  position:absolute;
  left:589px;
  top:392px;
  width:130px;
  height:52px;
}
#u138 {
  position:absolute;
  left:2px;
  top:18px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:66px;
}
#u139 {
  position:absolute;
  left:104px;
  top:381px;
  width:183px;
  height:66px;
}
#u140 {
  position:absolute;
  left:2px;
  top:25px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:52px;
}
#u141 {
  position:absolute;
  left:709px;
  top:392px;
  width:130px;
  height:52px;
}
#u142 {
  position:absolute;
  left:2px;
  top:18px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u143 {
  position:absolute;
  left:571px;
  top:29px;
  width:99px;
  height:36px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u145 {
  position:absolute;
  left:680px;
  top:29px;
  width:77px;
  height:36px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:36px;
}
#u147 {
  position:absolute;
  left:106px;
  top:29px;
  width:731px;
  height:36px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u149 {
  position:absolute;
  left:280px;
  top:86px;
  width:18px;
  height:18px;
}
#u150 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:326px;
  top:87px;
  width:299px;
  height:14px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u153 {
  position:absolute;
  left:261px;
  top:31px;
  width:171px;
  height:32px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
}
#u155 {
  position:absolute;
  left:534px;
  top:26px;
  width:41px;
  height:40px;
}
#u156 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:298px;
  top:38px;
  width:97px;
  height:16px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:240px;
}
#u159 {
  position:absolute;
  left:134px;
  top:117px;
  width:148px;
  height:240px;
}
#u160 {
  position:absolute;
  left:2px;
  top:112px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:240px;
}
#u161 {
  position:absolute;
  left:312px;
  top:117px;
  width:148px;
  height:240px;
}
#u162 {
  position:absolute;
  left:2px;
  top:112px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:240px;
}
#u163 {
  position:absolute;
  left:490px;
  top:117px;
  width:148px;
  height:240px;
}
#u164 {
  position:absolute;
  left:2px;
  top:112px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:240px;
}
#u165 {
  position:absolute;
  left:668px;
  top:117px;
  width:148px;
  height:240px;
}
#u166 {
  position:absolute;
  left:2px;
  top:112px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFF00;
}
#u167 {
  position:absolute;
  left:115px;
  top:52px;
  width:27px;
  height:13px;
  font-size:10px;
  color:#FFFF00;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 8px 12px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 8px 12px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 8px 12px rgba(0, 0, 0, 0.349019607843137);
}
#u169 {
  position:absolute;
  left:147px;
  top:87px;
  width:680px;
  height:340px;
}
#u170 {
  position:absolute;
  left:2px;
  top:162px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:58px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  position:absolute;
  left:337px;
  top:57px;
  width:300px;
  height:58px;
}
#u172 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u173 {
  position:absolute;
  left:431px;
  top:70px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u175 {
  position:absolute;
  left:359px;
  top:155px;
  width:80px;
  height:80px;
}
#u176 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  position:absolute;
  left:182px;
  top:247px;
  width:97px;
  height:40px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:182px;
  top:333px;
  width:97px;
  height:40px;
}
#u180 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u181 {
  position:absolute;
  left:357px;
  top:245px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u183 {
  position:absolute;
  left:349px;
  top:343px;
  width:100px;
  height:32px;
}
#u184 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u185 {
  position:absolute;
  left:349px;
  top:343px;
  width:50px;
  height:32px;
}
#u186 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:370px;
  top:348px;
  width:19px;
  height:22px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#003399;
}
#u189 {
  position:absolute;
  left:420px;
  top:348px;
  width:19px;
  height:22px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#003399;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:275px;
}
#u191 {
  position:absolute;
  left:484px;
  top:135px;
  width:1px;
  height:274px;
}
#u192 {
  position:absolute;
  left:2px;
  top:129px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:349px;
  top:282px;
  width:97px;
  height:40px;
}
#u194 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:517px;
  top:155px;
  width:150px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  position:absolute;
  left:517px;
  top:217px;
  width:99px;
  height:16px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u199 {
  position:absolute;
  left:736px;
  top:155px;
  width:54px;
  height:20px;
  font-size:14px;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  white-space:nowrap;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  position:absolute;
  left:517px;
  top:275px;
  width:141px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u203 {
  position:absolute;
  left:733px;
  top:214px;
  width:61px;
  height:20px;
  font-size:14px;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u205 {
  position:absolute;
  left:733px;
  top:274px;
  width:61px;
  height:20px;
  font-size:14px;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:275px;
}
#u207 {
  position:absolute;
  left:309px;
  top:135px;
  width:1px;
  height:274px;
}
#u208 {
  position:absolute;
  left:2px;
  top:129px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u209 {
  position:absolute;
  left:512px;
  top:361px;
  width:281px;
  height:16px;
  color:#990000;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:182px;
  top:156px;
  width:97px;
  height:40px;
}
#u212 {
  position:absolute;
  left:2px;
  top:12px;
  width:93px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u213 {
  position:absolute;
  left:352px;
  top:350px;
  width:16px;
  height:20px;
}
#u214 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u215 {
  position:absolute;
  left:402px;
  top:351px;
  width:18px;
  height:20px;
}
#u216 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u217 {
  position:absolute;
  left:782px;
  top:95px;
  width:36px;
  height:36px;
}
#u218 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
