body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u37 {
  position:absolute;
  left:251px;
  top:-231px;
  width:473px;
  height:954px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u38 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:420px;
}
#u39 {
  position:absolute;
  left:114px;
  top:39px;
  width:743px;
  height:420px;
}
#u40 {
  position:absolute;
  left:2px;
  top:202px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:321px;
}
#u41 {
  position:absolute;
  left:134px;
  top:138px;
  width:244px;
  height:321px;
}
#u42 {
  position:absolute;
  left:2px;
  top:152px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u44 {
  position:absolute;
  left:294px;
  top:303px;
  width:140px;
  height:48px;
}
#u45 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u46 {
  position:absolute;
  left:497px;
  top:303px;
  width:140px;
  height:48px;
}
#u46_img.mouseDown {
}
#u46.mouseDown {
}
#u47 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:311px;
}
#u48 {
  position:absolute;
  left:246px;
  top:94px;
  width:480px;
  height:311px;
}
#u49 {
  position:absolute;
  left:2px;
  top:148px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:388px;
  top:318px;
  width:184px;
  height:43px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u51 {
  position:absolute;
  left:503px;
  top:260px;
  width:124px;
  height:43px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u52 {
  position:absolute;
  left:330px;
  top:201px;
  width:307px;
  height:42px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:42px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u53 {
  position:absolute;
  left:330px;
  top:260px;
  width:148px;
  height:42px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:667px;
  top:94px;
  width:59px;
  height:54px;
}
#u55 {
  position:absolute;
  left:2px;
  top:19px;
  width:55px;
  word-wrap:break-word;
}
