body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:965.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3823 {
  position:absolute;
  left:11px;
  top:10px;
}
#u3823_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3823_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3824 {
  position:absolute;
  left:241px;
  top:-241px;
  width:473px;
  height:954px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3825 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:421px;
}
#u3826 {
  position:absolute;
  left:104px;
  top:27px;
  width:742px;
  height:421px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:202px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  position:absolute;
  left:104px;
  top:27px;
  width:742px;
  height:50px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:17px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3830 {
  position:absolute;
  left:122px;
  top:36px;
  width:42px;
  height:42px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3832 {
  position:absolute;
  left:702px;
  top:35px;
  width:42px;
  height:42px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u3834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3834 {
  position:absolute;
  left:294px;
  top:42px;
  width:63px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3835 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3836 {
  position:absolute;
  left:104px;
  top:377px;
  width:742px;
  height:71px;
}
#u3837 {
  position:absolute;
  left:2px;
  top:28px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3838 {
  position:absolute;
  left:122px;
  top:394px;
  width:419px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3840 {
  position:absolute;
  left:122px;
  top:416px;
  width:419px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3841 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u3842 {
  position:absolute;
  left:405px;
  top:35px;
  width:171px;
  height:32px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3844 {
  position:absolute;
  left:442px;
  top:42px;
  width:97px;
  height:16px;
  color:#FFFFFF;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3846 {
  position:absolute;
  left:764px;
  top:392px;
  width:42px;
  height:42px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3848 {
  position:absolute;
  left:104px;
  top:88px;
  width:149px;
  height:263px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:124px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:116px;
  top:110px;
  width:120px;
  height:40px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3852 {
  position:absolute;
  left:116px;
  top:170px;
  width:120px;
  height:40px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3854 {
  position:absolute;
  left:116px;
  top:230px;
  width:120px;
  height:40px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3856 {
  position:absolute;
  left:116px;
  top:290px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3857 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3858 {
  position:absolute;
  left:289px;
  top:88px;
  width:160px;
  height:120px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3860 {
  position:absolute;
  left:289px;
  top:231px;
  width:160px;
  height:120px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3862 {
  position:absolute;
  left:474px;
  top:88px;
  width:160px;
  height:120px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3864 {
  position:absolute;
  left:474px;
  top:231px;
  width:160px;
  height:120px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3866 {
  position:absolute;
  left:659px;
  top:88px;
  width:160px;
  height:120px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3868 {
  position:absolute;
  left:659px;
  top:231px;
  width:160px;
  height:120px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3870 {
  position:absolute;
  left:765px;
  top:37px;
  width:40px;
  height:40px;
}
#u3870_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:46px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u3873 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3874 {
  position:absolute;
  left:0px;
  top:40px;
  width:60px;
  height:40px;
  visibility:hidden;
}
#u3874_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:66px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  color:#000000;
}
#u3877 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 8px 12px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 8px 12px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 8px 12px rgba(0, 0, 0, 0.349019607843137);
}
#u3878 {
  position:absolute;
  left:147px;
  top:87px;
  width:680px;
  height:340px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:162px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u3880 {
  position:absolute;
  left:441px;
  top:392px;
  width:85px;
  height:16px;
  color:#990000;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:58px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3882 {
  position:absolute;
  left:337px;
  top:57px;
  width:300px;
  height:58px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3884 {
  position:absolute;
  left:431px;
  top:70px;
  width:121px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3885 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3886 {
  position:absolute;
  left:782px;
  top:95px;
  width:36px;
  height:36px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888 {
  position:absolute;
  left:240px;
  top:133px;
  width:54px;
  height:22px;
}
#u3888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3888_input:disabled {
  color:grayText;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3889 {
  position:absolute;
  left:196px;
  top:136px;
  width:43px;
  height:16px;
}
#u3890 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3891 {
  position:absolute;
  left:360px;
  top:133px;
  width:69px;
  height:22px;
}
#u3891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3891_input:disabled {
  color:grayText;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3892 {
  position:absolute;
  left:316px;
  top:136px;
  width:43px;
  height:16px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3894 {
  position:absolute;
  left:490px;
  top:133px;
  width:69px;
  height:22px;
}
#u3894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3894_input:disabled {
  color:grayText;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3895 {
  position:absolute;
  left:446px;
  top:136px;
  width:43px;
  height:16px;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3897 {
  position:absolute;
  left:620px;
  top:133px;
  width:69px;
  height:22px;
}
#u3897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3897_input:disabled {
  color:grayText;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3898 {
  position:absolute;
  left:576px;
  top:136px;
  width:43px;
  height:16px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3900 {
  position:absolute;
  left:320px;
  top:203px;
  width:54px;
  height:22px;
}
#u3900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3900_input:disabled {
  color:grayText;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3901 {
  position:absolute;
  left:206px;
  top:206px;
  width:43px;
  height:16px;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3903 {
  position:absolute;
  left:266px;
  top:206px;
  width:43px;
  height:16px;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3905 {
  position:absolute;
  left:470px;
  top:203px;
  width:54px;
  height:22px;
}
#u3905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3905_input:disabled {
  color:grayText;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3906 {
  position:absolute;
  left:416px;
  top:206px;
  width:43px;
  height:16px;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3908 {
  position:absolute;
  left:770px;
  top:203px;
  width:54px;
  height:22px;
}
#u3908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3908_input:disabled {
  color:grayText;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3909 {
  position:absolute;
  left:716px;
  top:206px;
  width:43px;
  height:16px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3911 {
  position:absolute;
  left:620px;
  top:203px;
  width:54px;
  height:22px;
}
#u3911_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3911_input:disabled {
  color:grayText;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3912 {
  position:absolute;
  left:566px;
  top:206px;
  width:43px;
  height:16px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3914 {
  position:absolute;
  left:320px;
  top:243px;
  width:54px;
  height:22px;
}
#u3914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3914_input:disabled {
  color:grayText;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3915 {
  position:absolute;
  left:266px;
  top:246px;
  width:37px;
  height:16px;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3917 {
  position:absolute;
  left:470px;
  top:243px;
  width:54px;
  height:22px;
}
#u3917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3917_input:disabled {
  color:grayText;
}
#u3918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3918 {
  position:absolute;
  left:416px;
  top:246px;
  width:39px;
  height:16px;
}
#u3919 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3920 {
  position:absolute;
  left:770px;
  top:243px;
  width:54px;
  height:22px;
}
#u3920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3920_input:disabled {
  color:grayText;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3921 {
  position:absolute;
  left:716px;
  top:246px;
  width:43px;
  height:16px;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3923 {
  position:absolute;
  left:620px;
  top:243px;
  width:54px;
  height:22px;
}
#u3923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3923_input:disabled {
  color:grayText;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  position:absolute;
  left:566px;
  top:246px;
  width:39px;
  height:16px;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3926 {
  position:absolute;
  left:381px;
  top:322px;
  width:213px;
  height:60px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:22px;
  width:209px;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3928 {
  position:absolute;
  left:196px;
  top:176px;
  width:43px;
  height:16px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3930 {
  position:absolute;
  left:259px;
  top:176px;
  width:100px;
  height:16px;
}
#u3931 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
