body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3654 {
  position:absolute;
  left:251px;
  top:-231px;
  width:473px;
  height:954px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3655 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:421px;
}
#u3656 {
  position:absolute;
  left:114px;
  top:36px;
  width:742px;
  height:421px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:202px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3658 {
  position:absolute;
  left:114px;
  top:36px;
  width:742px;
  height:50px;
}
#u3659 {
  position:absolute;
  left:2px;
  top:17px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3660 {
  position:absolute;
  left:132px;
  top:45px;
  width:42px;
  height:42px;
}
#u3661 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u3662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3662 {
  position:absolute;
  left:712px;
  top:44px;
  width:42px;
  height:42px;
}
#u3663 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u3664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3664 {
  position:absolute;
  left:304px;
  top:51px;
  width:63px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3665 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u3666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3666 {
  position:absolute;
  left:114px;
  top:386px;
  width:742px;
  height:71px;
}
#u3667 {
  position:absolute;
  left:2px;
  top:28px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3668 {
  position:absolute;
  left:132px;
  top:403px;
  width:419px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3669 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u3670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3670 {
  position:absolute;
  left:132px;
  top:425px;
  width:419px;
  height:20px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u3671 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u3672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:32px;
}
#u3672 {
  position:absolute;
  left:415px;
  top:44px;
  width:171px;
  height:32px;
}
#u3673 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3674 {
  position:absolute;
  left:452px;
  top:51px;
  width:97px;
  height:16px;
  color:#FFFFFF;
}
#u3675 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3676 {
  position:absolute;
  left:774px;
  top:401px;
  width:42px;
  height:42px;
}
#u3677 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u3678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3678 {
  position:absolute;
  left:114px;
  top:97px;
  width:149px;
  height:263px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:124px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3680 {
  position:absolute;
  left:126px;
  top:119px;
  width:120px;
  height:40px;
}
#u3681 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3682 {
  position:absolute;
  left:126px;
  top:179px;
  width:120px;
  height:40px;
}
#u3683 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3684 {
  position:absolute;
  left:126px;
  top:239px;
  width:120px;
  height:40px;
}
#u3685 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3686 {
  position:absolute;
  left:126px;
  top:299px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3687 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  position:absolute;
  left:299px;
  top:97px;
  width:160px;
  height:120px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  position:absolute;
  left:299px;
  top:240px;
  width:160px;
  height:120px;
}
#u3691 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3692 {
  position:absolute;
  left:484px;
  top:97px;
  width:160px;
  height:120px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3694 {
  position:absolute;
  left:484px;
  top:240px;
  width:160px;
  height:120px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3696 {
  position:absolute;
  left:669px;
  top:97px;
  width:160px;
  height:120px;
}
#u3697 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:120px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  position:absolute;
  left:669px;
  top:240px;
  width:160px;
  height:120px;
}
#u3699 {
  position:absolute;
  left:2px;
  top:52px;
  width:156px;
  word-wrap:break-word;
}
#u3700 {
  position:absolute;
  left:775px;
  top:46px;
  width:40px;
  height:40px;
}
#u3700_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:46px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u3702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3702 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  color:#FFFFFF;
}
#u3703 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3704 {
  position:absolute;
  left:0px;
  top:40px;
  width:60px;
  height:40px;
  visibility:hidden;
}
#u3704_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:66px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3705 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u3706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u3706 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  color:#000000;
}
#u3707 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
